@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage


@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Common.Security
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Cms.Core.Services
@using Umbraco.Extensions
@inject IMemberExternalLoginProviders memberExternalLoginProviders
@inject ITwoFactorLoginService twoFactorLoginService
@{
    var loginModel = new LoginModel();
    // You can modify this to redirect to a different URL instead of the current one
    loginModel.RedirectUrl = null;
}


@if (ViewData.TryGetTwoFactorProviderNames(out var providerNames))
{
    foreach (var providerName in providerNames)
    {
        <div class="2fa-form">
            <h4>Two factor with @providerName.</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            @using (Html.BeginUmbracoForm<UmbTwoFactorLoginController>(nameof(UmbTwoFactorLoginController.Verify2FACode)))
            {

                <text>
                    <input type="hidden" name="provider" value="@providerName"/>
                    Input security code: <input name="code" value=""/><br/>
                    <button type="submit" class="btn btn-primary">Validate</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </text>
            }
        </div>
    }

}
else
{



<div class="login-form">
      

  @*   @using (Html.BeginUmbracoForm<UmbLoginController>(
        "HandleLogin", new { RedirectUrl = loginModel.RedirectUrl })) {
            <h4>Log in with a local account.</h4>
            <hr />
            <div class="md:flex md:items-center mb-6">
         
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="md:w-1/3">
                        <label asp-for="@loginModel.Username" class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">Username</label>
                    </div>
                    <div class="md:w-2/3">
                        <input asp-for="@loginModel.Username" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
                        <span asp-validation-for="@loginModel.Username" class="form-text text-danger"></span>
                </div>
            </div>
         
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
                    <label asp-for="@loginModel.Password" class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4"></label>
                </div>
                <div class="md:w-2/3">
                    <input asp-for="@loginModel.Password" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" />
                    <span asp-validation-for="@loginModel.Password" class="form-text text-danger"></span>
                </div>
        
            </div>
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
               
                </div>
                <div class="md:w-2/3">
                    <input asp-for="@loginModel.RememberMe" class="mr-2 leading-tight">
                    <span class="text-sm">
                    <label asp-for="@loginModel.RememberMe" class="md:w-2/3 block text-gray-500 font-bold">
                        @Html.DisplayNameFor(m => loginModel.RememberMe)
                    </label>
                    </span>
                </div>
            </div>
            <div class="md:flex md:items-center">
                <div class="md:w-1/3"></div>
                <div class="md:w-2/3">
            <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </div>
        
        }
      *@
@{
    var loginProviders = await memberExternalLoginProviders.GetMemberProvidersAsync();
    var externalSignInError = ViewData.GetExternalSignInProviderErrors();

    if (loginProviders.Any())
    {

        if (externalSignInError?.AuthenticationType is null && externalSignInError?.Errors.Any() == true)
        {
            @Html.DisplayFor(x => externalSignInError.Errors);
        }

        @foreach (var login in await memberExternalLoginProviders.GetMemberProvidersAsync())
        {

            @using (Html.BeginUmbracoForm<UmbExternalLoginController>(nameof(UmbExternalLoginController.ExternalLogin)))
            {
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" name="provider" value="@login.ExternalLoginProvider.AuthenticationType">
                    Sign in with MitID
                </button>

                if (externalSignInError?.AuthenticationType == login.ExternalLoginProvider.AuthenticationType)
                {
                    @Html.DisplayFor(x => externalSignInError.Errors);
                }
            }
        }
    }
}
</div>
}